<td><strong>2nd Semester</strong></td>
<tr>
  <td>Networking</td>
  <td>Algorithum</td>
  <td>Compiler Construction</td>
  <td>Software Engrineeing</td>
  <td>Computer Architeture</td>
  <td>Operating System</td>
</tr>