<td><strong>3rd Semester</strong></td>
<tr>
  <td>Artificial Inteligence</td>
  <td>Management Information System</td>
  <td>Computer Graphics</td>
  <td>Algorithum Design and Anaylsis</td>
  <td>C Sharp</td>
</tr>