<div class="panel panel-default">
  <div class="panel-heading">Listing Students Assignment Submission</div>

  <table class="table">
    <thead>
      <tr>
        <th>Roll no</th>
        <th>Sub body</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @makeassign.submissions.each do |submission| %>
        <tr>
          <td><%= submission.roll_no %></td>
          <td><%= sanitize submission.sub_body.truncate_words(10), tags: %w(a img), attributes: %w() %></td>
          <td><%= link_to 'Show', course_coursesemester_subject_makeassign_submission_path(@course, @coursesemester, @subject, @makeassign, submission), class: "btn btn-primary btn-sm" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>